
{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Pagina Principal</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        
    </head>

<center><body>

        <h1>Datos de Usuarios</h1>
        <table class="table table-striped">
        <tr><td>ID<td>Nombre<td>Correo <td>Telefono<td>Opcion<td>Opcion
        {% for datos in usuarios%}
        <tr><td>{{datos.id}}<td>{{datos.usuario}}<td>{{datos.correo}}<td>{{datos.telefono}}<td><a href="{% url 'eliminar_usuario' ide=datos.id%}"><img src="{% static 'eliminar.png' %}" width="40" height="40"></img></a><td><a class="btn btn-warning" href="{% url 'pedit' id=datos.id%}">Editar</a>
        {%endfor%}
        </table>


    {%block formulario%}
    {% endblock%}
    </body></center>
 

</html>
